.container {
  width: 100vw;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container::before {
  width: 100vw;
  height: 0.93rem;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('../../../public/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  content: '';
}

.container::after {
  width: 100vw;
  height: 1px;
  background-color: #E8E8E8;
  content: '';
  position: absolute;
  bottom: 0;
}

.headerbox {
  width: 80%;
  height: 100%;
}

.upside {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
  span {
    font-size: 1.25rem;
    font-weight: 200;
  }
}

.downside {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.downside::after {
  width: 100vw;
  height: 1px;
  background-color: #E8E8E8;
  content: '';
  position: absolute;
  bottom: 0;
}

.logo {
  background-image: url('../../../public/Logo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 180px;
  height: 80%;
}

.links {
  display: flex;
  gap: 1rem;
  transition: .3s;

  a:hover {
    color: #305B90;
  }
}

.content {
  display: flex;
  width: 100%;
  padding: 1rem;
  align-items: center;
  height: 3rem;
  justify-content: space-between;

  a {
    display: flex;
    align-items: center;
  }
}

.log {
  align-items: center;
  display: flex;
  transition: .3s;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  &:hover {
      color: red;
  }
}

@media(max-width: 1130px) {
  .headerbox {
    width: 100%;
  }

  .content {
    display: none;
  }
}